// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.
// For options, see node_modules/bootstrap/scss/_variables.scss

// Examples:

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

// Import Bootstrap styles:
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import partials:

// Custom styles:

a:link {
    text-decoration: none;
  }

a:hover {
    text-decoration: underline;
  }

a:visited {
    text-decoration: none;
  }

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#jumbotron {
  background-image: url(../img/pirate-ship.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 100%;
  max-width: 100%;
}

.container {
  padding: 20px;
}

footer {
  position: relative;
  bottom: 0;
}

